In [1]:
import pandas as pd

In [2]:
myDataset = {
    "Cars" : ["Ferarri", "Toyota", "Lamborghini"],
    "TopSpeed" : ["350 mph", "250mph", "300 mph"],
    "Price" : ["10 koti", "30 lakh", "7 koti"]
}

In [4]:
df = pd.DataFrame(myDataset, index = ["Royal car", "Family car", "Sports car"])
df

                   Cars TopSpeed    Price
Royal car       Ferarri  350 mph  10 koti
Family car       Toyota   250mph  30 lakh
Sports car  Lamborghini  300 mph   7 koti

In [6]:
df.loc["Royal car"]

Cars        Ferarri
TopSpeed    350 mph
Price       10 koti
Name: Royal car, dtype: object